@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body {
  color: #5a5a5a;
}

#p1 {
  margin-top: 5em;
}
hr{
  margin: 0;
}

.container {
  max-width: 1080px;
}

.site-header {
  background-color: rgba(0, 0, 0, .75);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
  color: #8e8e8e;
  text-decoration: none;
  cursor: pointer;
  transition: color .15s ease-in-out;
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.featurette {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.order-md-2 {
  text-align: end;
}

.rounded {
  width: 100%;
  border-radius: 0.5rem !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .25);
  transition: all 0.3s ease;
}

.rounded:hover {
  transform: scale(1.006, 1.006);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .175);
  transition: all 0.3s ease;
}

.port {
  max-width: 150px;
  margin: 0 auto;
  transition: all 0.3s ease;
  cursor: pointer;
}

.port:hover {
  transform: translate(0, 10px);
  transition: all 0.3s ease;
}

.badge {
  cursor: pointer;
  transition: all 0.3s ease;
}

.badge:hover {
  background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity)) !important;
  transition: all 0.3s ease;
}

.focus {
  background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity)) !important;
  transition: all 0.3s ease;
}

.hov {
  color: #5a5a5a;
}

.hov:hover {
  color: #000;
  cursor: pointer;
}

.bi-tag {
  pointer-events: none;
}

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}